
    footer {
        background-color: #353535;

        color: white;
        padding:16px 16px 24px;
        
            padding-left: 32px;
        h1 {
          
            justify-content: center;
            width: 100%;
            font-family: 'Shrikhand', cursive;
            font-weight: normal;
        }
        a {
            text-decoration: none;
            color: white;
            align-items: center;
        }
        i {
            padding-right: 5px;
        }
        .footer {
            
            justify-content: space-around;
        }  
         
    }