@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: "roboto", sans serif;
  max-width: 1440px;
}

main {
  padding: 0 25px;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

@keyframes itemAppear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.writing {
  text-align: center;
  padding: 25px;
  margin: 20px;
}
.writing h2 {
  margin-top: 30px;
}
.writing p {
  font-size: 16px;
  margin-top: 20px;
}
.writing button {
  color: white;
  font-weight: 500;
  font-size: 16px;
  padding: 16px 32px;
  border-radius: 25px;
  border: none;
  height: 50px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  transition: tranform 200ms;
  margin-top: 20px;
  box-shadow: 0px 4px 15px 0px;
}
.writing button:hover {
  transform: scale(1.02);
  opacity: 70%;
}

header {
  font-family: "Shrikhand", serif;
  text-align: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  padding: 3px;
  margin: 0px;
  position: relative;
}

.functionnement {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  counter-reset: listes;
}
.functionnement h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.13px;
  padding: 25px 0px;
  align-self: flex-start;
}
.functionnement ol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 90%;
  color: black;
}
@media (min-width: 768px) {
  .functionnement ol {
    flex-direction: row;
    gap: 30px;
  }
}
.functionnement ol li {
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 16px;
  height: 73px;
  box-shadow: 0px 4px 15px 0px;
}
.functionnement ol li::before {
  content: counter(listes);
  counter-increment: listes;
  width: 24px;
  height: 24px;
  background-color: #9356DC;
  border-radius: 15px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -13px;
}
.functionnement ol li:hover {
  cursor: pointer;
  transform: scale(1.02);
}
.functionnement ol li:hover i {
  color: #9356DC;
}
.functionnement ol li i {
  color: #7E7E7E;
  padding-right: 20px;
  padding-left: 20px;
}

.Hello {
  display: flex;
  background-color: #EAEAEA;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px;
  gap: 7px;
  height: 50px;
}
.Hello .fa-solid {
  color: #353535;
}
.Hello .search-bar {
  margin-top: 5px;
  font-size: 22px;
  padding-top: 16px;
  align-items: center;
  display: flex;
  border-radius: 5px;
  overflow: hidden;
  width: 200px;
}
.Hello .search-bar .fa-solid {
  display: flex;
  width: 12px;
  height: 16px;
  color: #353535;
  padding: 10px;
}

.bold {
  border: none;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #353535;
  padding: 8px;
  gap: 17px;
  margin: 10px;
  border: none;
  outline: none;
  background-color: #EAEAEA;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.Restaurants {
  background-color: #f6f6f6;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}
.Restaurants .Restaurants_cards {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  gap: 30px;
  position: relative;
}
@media (min-width: 768px) {
  .Restaurants .Restaurants_cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.Restaurants .Restaurants_cards a {
  width: 100%;
}
.Restaurants .Restaurants_cards article {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  box-shadow: 0 3px 8px darkgray;
  background-color: #fff;
  position: relative;
}
.Restaurants .Restaurants_cards article .image-text {
  display: flex;
  color: #008766;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  position: absolute;
  background-color: #99E2D0;
  padding: 6px;
  border-radius: 2px;
  top: 10px;
  right: 10px;
}
.Restaurants .Restaurants_cards article img {
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
  border-radius: 16px 16px 0 0;
  width: 100%;
  height: 231px;
}
.Restaurants .Restaurants_cards .description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 60px;
  align-items: flex-start;
  padding: 10px;
}
.Restaurants .Restaurants_cards .description .description__text {
  flex: 1;
}
.Restaurants .Restaurants_cards .description .description__text h3 {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
  color: #000000;
}
.Restaurants .Restaurants_cards .description .description__text p {
  color: black;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
}
.Restaurants .Restaurants_cards .description .description__heart {
  display: flex;
  align-items: center;
  font-size: 24px;
}
.Restaurants .Restaurants_cards .description .description__heart i {
  margin-left: 5px;
}
.Restaurants .Restaurants_cards .description .description__heart .fa-regular.fa-heart {
  color: black;
}
.Restaurants .Restaurants_cards .description .description__heart .fa-solid.fa-heart {
  display: none;
}
.Restaurants .Restaurants_cards .description .description__heart:hover {
  cursor: pointer;
}
.Restaurants .Restaurants_cards .description .description__heart:hover .fa-regular.fa-heart {
  display: none;
}
.Restaurants .Restaurants_cards .description .description__heart:hover .fa-solid.fa-heart {
  display: block;
  color: transparent;
  background-clip: text !important;
  -webkit-background-clip: text;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
}

.header {
  padding: 16px;
}
.header--withBackArrow {
  position: relative;
}
.header__arrow {
  position: absolute;
  left: 32px;
  height: 32px;
  width: 2px;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  font-size: 19px;
  color: black;
}

.heroImg {
  max-width: 100%;
  max-height: 512px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  margin-top: -64px;
  border-radius: 32px 32px 0 0;
  background-color: #f6f6f6;
  z-index: 1;
  position: relative;
}
.menu__header {
  padding: 16px 32px 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__title {
  font-family: "Shrikhand", "cursive";
}
.menu__btn {
  height: 32px;
  width: 32px;
  background-color: transparent;
  border: transparent 0px solid;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  background-color: black;
}
.menu__btn:hover::before {
  opacity: 1;
}
.menu__btn::before {
  opacity: 0;
  transition: 0.5s;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
}
.menu__like {
  transition-duration: 0.25s;
  background-color: #f6f6f6;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  mix-blend-mode: lighten;
}
.menu__btn:hover .menu__like--noBg {
  opacity: 0;
}

.submenus {
  display: grid;
}
@media (min-width: 1024px) {
  .submenus {
    grid-template-columns: repeat(3, 1fr);
    -moz-column-gap: 16px;
         column-gap: 16px;
  }
}

.submenu {
  max-width: 100%;
  overflow: hidden;
  padding: 0 16px;
}
.submenu__title {
  text-transform: uppercase;
  position: relative;
  padding-bottom: 8px;
  font-weight: normal;
}
.submenu__title::after {
  content: "";
  width: 48px;
  height: 4px;
  background-color: #99E2D0;
  position: absolute;
  left: 0;
  bottom: 0;
}

.menuItem {
  background-color: white;
  padding: 16px;
  display: flex;
  border-radius: 12px;
  margin: 16px 0;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  animation: itemAppear 0.6s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  transform: scale(0);
  max-width: 100%;
}
.menuItem__header {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1;
}
.menuItem__title {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menuItem__description {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menuItem__price {
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 8px;
}
.menuItem__confirmation {
  background-color: #99E2D0;
  margin: -16px -80px -16px 16px;
  width: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}
.menuItem:hover .menuItem__confirmation {
  margin-right: -16px;
}
.menuItem__wrapIcon {
  height: 25px;
  width: 25px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transition-duration: 0.5s;
}
.menuItem__icon {
  color: #99E2D0;
}

.delay-0 {
  animation-delay: 0s;
}

.delay-1 {
  animation-delay: 0.1s;
}

.delay-2 {
  animation-delay: 0.2s;
}

.delay-3 {
  animation-delay: 0.3s;
}

.delay-4 {
  animation-delay: 0.4s;
}

.delay-5 {
  animation-delay: 0.5s;
}

.delay-6 {
  animation-delay: 0.6s;
}

.delay-7 {
  animation-delay: 0.7s;
}

.delay-8 {
  animation-delay: 0.8s;
}

.wrapBtn {
  display: flex;
  text-decoration: none;
  justify-content: center;
  padding: 48px 0;
}

.commandBtn {
  border: 0;
  padding: 12px 24px;
  font-weight: 500;
  font-size: 17.6px;
  border-radius: 100px;
  color: white;
  background-color: rgb(104, 104, 104);
  cursor: pointer;
  transition-duration: 0.25s;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
}
.commandBtn:hover {
  background-color: white;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
.commandBtn a {
  text-decoration: none;
  color: inherit;
}

footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: white;
  padding: 16px 16px 24px;
  padding-left: 32px;
}
@media (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
  }
}
footer h2 {
  justify-content: center;
  font-family: "Shrikhand", cursive;
  font-weight: normal;
}
footer a {
  text-decoration: none;
  color: white;
  align-items: center;
}
footer i {
  padding-right: 5px;
}
footer .footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
@media (min-width: 768px) {
  footer .footer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
  }
}

footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: white;
  padding: 16px 16px 24px;
  padding-left: 32px;
}
@media (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
  }
}
footer h2 {
  justify-content: center;
  font-family: "Shrikhand", cursive;
  font-weight: normal;
}
footer a {
  text-decoration: none;
  color: white;
  align-items: center;
}
footer i {
  padding-right: 5px;
}
footer .footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media (min-width: 768px) {
  footer .footer {
    display: flex;
    flex-direction: row; /* Change to row for desktop screens */
    gap: 20px;
    align-items: center;
  }
}

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ff79da;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  opacity: 50%;
  animation: hiddenspinner 6s forwards;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 8px solid #f3f3f3;
  border-top: 8px solid #9356dc;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  opacity: 1;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes hiddenspinner {
  from {
    opacity: 50%;
    z-index: 2;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}/*# sourceMappingURL=style.css.map */